<header>
    <div><img src="/assets/images/citrix_logo_black.png" width="82" height="34" /></div>
    <div class="jumbotron jumbotron-fluid bg-primary text-white">
        <div class="container">
            <h1 class="display-3">Citrix Developer</h1>
            <p class="lead">
                Build Great applications on great infrastructure.
                <!--Through open platforms, our offerings power mission-critical business
                operations for users, IT and partners. Our tools enable developers to 
                build and enhance DevOPS with Netscaler as well as data solutions and 
                Administrative utilities with Sharefile as they build the best 
                Citrix-integrated Windows, Web, On-Premises, and Azure solutions.-->
            </p>
        </div>
    </div>
</header>