<div class="row">
    <div class="col-sm-12">
        <img class="img-responsive" src="/assets/images/citrixdeveloper_header.png" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                <featured-projects></featured-projects>
            </div> <!-- end of column -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-sm-12">
                <citrix-projects>Loading Open Source Projects...</citrix-projects>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- sdk docs -->
        <citrix-documentation></citrix-documentation>
    </div>
</div> <!-- end of row -->

