<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include header.html %}
        
        <div class="container">
            <div class="row">
            {% for category in site.categories%}
                <div class="col">
                    <a href="{{ category.pageurl }}">
                    <div class="card card-outline-primary mb-3 text-center" style="width:7rem;height:7rem;">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                {{ category.title }}
                            </blockquote>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
            </div>
            <div>
                {{ content }}
            </div>        
        </div>
    {% include footer.html %}
    <script src="/assets/jquery.min.js"></script>
	<script src="/assets/tether.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
  </body>

</html>